#navigation > ul {
	margin: 0 auto ;
}

#navigation > ul > li {
	width: 14% ;
}

figure , a , span {
	overflow: hidden ;
}

span:hover>img , a:hover>img , figure:hover>img {
	transform: scale(1.1) ;
}

/* error message */
#content .text-danger {
	color: #a94442;
}